body {
  background-image: url('./images/rick-y-morty-en-el-espacio_3840x2160_xtrafondos.com.jpg');
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-bg{
  background-image: url('./images/espacio-estrellas-universo-espacio-infinito-fondo_78474-99.avif');
  background-size: cover;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
